@media (max-width: 620px) {
    .navbar {
        padding-inline: 17px;
    }

    .prt-1 {
        display: none;
    }

    .right,
    .left {
        gap: 5px;
    }

}

@media (max-width: 745px) {
    .text {
        flex-direction: column;
        font-size: 17px;
    }
    .content {
    height: calc(93vh - 167px);
}


}

@media (max-height: 670px) {
    
    
    .content {
    height: calc(100vh - 167px);
}


}