@media (max-width: 620px) {
    .navbar {
        padding-inline: 15px;
        padding-bottom: 10px;
        padding-top: 15px;
    }

    .prt-1 {
        display: none;
    }

    .right,
    .left {
        gap: 5px;
    }

    .text{
        padding-block: 10px;
        font-size: 14px;
        line-height: 10px;
    }
}

@media (max-width: 745px) {
    .text {
        flex-direction: column;
        
    }

    .content {
        height: calc(100vh - 163px);
    }



}

