@media (max-width: 745px) {

    .content {
        height: calc(100vh - 170px);
    }


}

@media (max-width: 620px) {
    .navbar {
        padding-inline: 15px;
        padding-bottom: 10px;
        padding-top: 15px;
    }

    .content {
        height: calc(100vh - 121px);
    }

    .prt-1 {
        display: none;
    }

    .right,
    .left {
        gap: 5px;
    }

    .text {
        padding-block: 10px;
        font-size: 14px;
        line-height: 10px;
    }
}

@media (max-width: 380px) {
    .line0 {
        padding-top: 20px;
        gap: 59px;

        & .minus,
        .plus {
            font-size: 3.5rem;
        }

        & .num {
            font-size: 5.5rem;
        }
    }

    .reset-btn img {
        height: 17px;
        padding-top: 3px;

    }

    .reset {
        color: #fff;
        font-size: 1.2rem;
    }

    .line1 {
        margin-top: 25px;
        padding-left: 7px;

    }

    .line3 {
        margin-top: 45px;
        margin-bottom: 10px;
        gap: 20px;
    }

    .finger img {
        height: 80px;
    }

    .finger-text {
        font-size: 16px;
    }

    .pt-1 img {
        height: 38px;
    }
    .pt-2{
        font-size: 22px;
    }
    .prt-2 img{
        height: 30px;

    }
     
    .text{
        font-size: 11px;
        letter-spacing: 0px;
    }

}


@media (max-width: 460px) {
    
    .line0 {
        padding-top: 0px;
        gap: 59px;

    }
        & .minus,
        .plus {
            font-size: 3.5rem;
        }

        & .num {
            font-size: 5.5rem;
        }

    .reset-btn img {
        height: 17px;
        padding-top: 3px;

    }

    .reset {
        color: #fff;
        font-size: 1.2rem;
    }

    .line1 {
        margin-top: 25px;
        padding-left: 7px;

    }

    .line3 {
        margin-top: 155px;
        margin-bottom: 10px;
        gap: 20px;
    }

    .finger img {
        height: 80px;
    }

    .finger-text {
        font-size: 16px;
    }

    .pt-1 img {
        height: 38px;
    }
    .pt-2{
        font-size: 22px;
    }
    .prt-2 img{
        height: 30px;

    }
     
    .text{
        font-size: 11px;
        letter-spacing: 0px;
    }


}
