@media (max-width: 620px) {
    .navbar {
        padding-inline: 17px;
    }

    .prt-1 {
        display: none;
    }

    .right,
    .left {
        gap: 5px;
    }

}

@media (max-width: 745px) {
    .text {
        flex-direction: column;
        font-size: 19px;
    }

    .content {
        height: calc(100vh - 172px);
    }
}

@media (max-width: 745px) {
    .text {
        flex-direction: column;
        font-size: 15px;
    }

    .content {
        height: calc(100vh - 161px);
    }
}