@media (max-width: 745px) {
    .text {
        flex-direction: column;

    }

    .content {
        height: calc(100vh - 170px);
    }


}

@media (max-width: 620px) {
    .navbar {
        padding-inline: 15px;
        padding-bottom: 10px;
        padding-top: 15px;
    }

    .content {
        height: calc(100vh - 121px);
    }

    .prt-1 {
        display: none;
    }

    .right,
    .left {
        gap: 5px;
    }

    .text {
        padding-block: 10px;
        font-size: 14px;
        line-height: 10px;
    }
}

@media (max-width: 380px) {
    .line0 {
        gap: 59px;

        & .minus,
        .plus {
            font-size: 4rem;
        }

        & .num {
            font-size: 6rem;
        }
    }

    .reset-btn img {
        height: 18px;
    }

    .reset {
        color: #fff;
        font-size: 1.4rem;
    }

    .line1 {
        margin-top: 25px;
        padding-left: 7px;

    }

    .line3 {
        margin-top: 100px;
        margin-bottom: 10px;
        gap: 20px;
    }

    .finger img {
        height: 90px;
    }

    .finger-text {
        font-size: 16px;
    }

    .pt-1 img {
        height: 38px;
    }
    .pt-2{
        font-size: 22px;
    }
    .prt-2 img{
        height: 30px;

    }


}