@font-face {
    font-family: "Apple";
    src: url(/SF-Pro.ttf);
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Apple", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
}

html,
body {
    height: 100%;
}

body {
    min-height: 100dvh;
    /* visible viewport height */
    display: flex;
    flex-direction: column;
    background-color: #121212;
    overflow-y: auto;
    overscroll-behavior-y: auto;
}

nav {
    width: 100%;
    background-color: transparent;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding-block: 19px;
    padding-inline: 35px;
}



.left {
    display: flex;
    gap: 23px;
}

.right {
    display: flex;
    gap: 9px;
}

.pt-1 img {
    height: 42px;
}

.prt-2 img {
    margin-top: 6px;
    height: 32px;
    transition: all 600ms ease-in-out;
    transform: rotate(90deg);
}

.prt-2 img:hover {

    transform: rotate(180deg);
    scale: calc(1.1);
}

.pt-2 {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.pt-2 a {
    color: #fffffff4;
    text-decoration: none;
}

.prt-1 {
    display: flex;
    align-items: center;
    font-size: 21px;
    padding-top: 4px;
}

.prt-1 a {
    color: #ffffffbb;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.prt-1 a:hover {
    font-size: 21.14px;
    color: #fff;
}

.content {
    height: calc(100vh - 147px);
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    min-height: 0;
    overflow: hidden;
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
    position: relative;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);

}

.line0 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 110px;
    color: #fff;
    
}

.plus {
    font-size: 6.5rem;
    opacity: 0.75;

}

.num {
    font-size: 9rem;
}

.minus {
    font-size: 6.5rem;
    opacity: 0.4;

}

.line1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-top: 40px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.reset-btn img {
    height: 24px;
}

.reset {
    color: #fff;
    font-size: 1.6rem;
}

.line3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 80px;
    gap: 40px;
    padding-left: 0px;
}

.finger img{
    height: 140px;
    opacity: 0.4;
}
.finger-text{
    font-size: 19px;
    color: white;
    padding-left: 5px;
    opacity: 0.4;

}








/* FOOTER */
footer {
    width: 100%;
    flex-shrink: 0;
}

.text {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 22px;
    width: 99%;
    text-align: center;
    border-top: 1.4px solid #ffffff23;
    color: rgba(255, 255, 255, 0.885);
    padding-block: 25px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    line-height: 13px;
}